<!-- Page Top section -->
<section class="page-top-section set-bg" back-img="frontend/assets/img/bgrestaurant.jpg">
    <div class="container">
        <h2>Restaurant details</h2>
    </div>
</section>
<!-- Page Top section end -->


<!-- Feature section -->
<section class="feature-section spad">
	<div class="container details_container"> <!-- id="details_restaurant" -->
        <div class="left-column">
            <img src='frontend/assets/img/restaurant3.jpg' id="detailsimg">
        </div>
        <div class="right-column">
            <h2>{{data.name}}</h2>
            <ul>
                <li>Type: {{data.type}}</li>
                <li>People: {{data.people}}</li>
                <li>Date: {{data.selected_date}}</li>
                <li>Tastes: {{data.tastes}}</li>
            </ul>
            <a href="#/shop"><input class="site-btn sb-c2" type="button" value="Back"/></a>
        </div>
	</div>
</section>
<!-- Feature section end -->