<!-- Page Top section -->
<section class="page-top-section set-bg" back-img="frontend/assets/img/bgrestaurant.jpg">
    <div class="container">
        <h2>Shop</h2>
    </div>
</section>
<!-- Page Top section end -->


<!-- Feature section -->
<section class="feature-section spad">
	<input class="site-btn sb-c1 searchbutton" type="button" id="searchbutton_shop" value="Search" ng-click="search()">
	<!-- todo: directive -->
	<form class="row search-bar-restaurants" id="searchform" name="searchform">
		<select class="custom-select" id="searchtype" ng-model="searchform.searchtype">
			<option>Type</option>
			<option>Gourmet</option>
			<option>Fast Food</option>
			<option>Ethnic</option>
		</select>

		<div class="inputwrap">
			<input type="text" placeholder="Tastes" id="searchtastes" ng-model="searchform.searchtastes"
				ng-keyup="autocomplete(searchform, $event)">
			<div class="dropdown">
				<div class="dropdown-content">
					<a ng-repeat="r in autocompleteRestaurants.searchtastes | limitTo:7 track by $index" ng-click="fillTextbox(r,$event)">{{r}}</a>
				</div>
			</div>
		</div>
		<div class="inputwrap">
			<input type="text" placeholder="Restaurant name" id="searchname" ng-model="searchform.searchname"
				ng-keyup="autocomplete(searchform, $event)">
			<div class="dropdown">
				<div class="dropdown-content">
					<a ng-repeat="r in autocompleteRestaurants.searchname | limitTo:7 track by $index" ng-click="fillTextbox(r,$event)">{{r}}</a>
				</div>
			</div>
		</div>
	</form>

	<!-- todo: directive -->
    <div class="container">
		<p> Total Results: {{restaurants.length}} <p>
		<div class="row">
			<div ng-repeat="r in filteredRestaurants" class="col-md-4 feature">
					<a href="#/shop/{{r.id}}"><img src="frontend/assets/img/restaurant1.jpg" alt="#"></a>
					<h4>{{r.name}}</h4>
					<button ng-click="addToCart(r)" class="site-btn sb-c3">+</button>
					<button ng-controller="favCtrl" ng-click="like(r)" class="site-btn" ng-class="{'sb-red':r.liked}">♥</button>
			</div>
			<div hidden ng-controller="favCtrl" ng-init="checkLikes(restaurants)"></div>
		</div>
		<div id="pager">
			<uib-pagination
				class="pagination" 
				total-items="restaurants.length" 
				ng-model="currentPage"
				ng-change="pageChanged()" 
				previous-text="&lsaquo;" 
				next-text="&rsaquo;" 
				items-per-page="numPerPage"
			/>
		</div>
	</div>
</section>
<!-- Feature section end -->