<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" back-img="frontend/assets/img/bgrestaurant.jpg">
			<div class="container">
				<h2>The Best Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,</p>
				<p>at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
		<div class="hs-item set-bg" back-img="frontend/assets/img/bgrestaurant2.jpg">
			<div class="container">
				<h2>The Best Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,</p>
				<p>at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->


<!-- Feature section -->
<section class="feature-section spad">
	<a href="#/shop"><input class="site-btn sb-c1 searchbutton" type="button" id="searchbutton_home" value="Search"></a>
	<form class="row search-bar-restaurants" id="searchform" name="searchform">
		<select class="custom-select" id="searchtype">
			<option>Type</option>
			<option>Gourmet</option>
			<option>Fast Food</option>
			<option>Ethnic</option>
		</select>

		<div class="inputwrap">
			<input type="text" placeholder="Tastes" id="searchtastes">
			<div class="dropdown">
				<div id="dropdown-tastes" class="dropdown-content">
				
				</div>
			</div>
		</div>
		<div class="inputwrap">
			<input type="text" placeholder="Restaurant name" id="searchname" ng-model="searchform.searchname"
				ng-keyup="complete(searchform, $event)">
			<div class="dropdown">
				<div id="dropdown-name" class="dropdown-content">
					<a ng-repeat="r in searchRestaurants.searchname">{{r}}</a>
				</div>
			</div>
		</div>

		<!-- <input placeholder="Product code" type="text" name="country" id="product_code" 
			ng-model="searched.product_code" ng-keyup="complete(searched,$event)" class="form-control" />
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="produ in filteredProducts.product_code | limitTo:7" 
			ng-click="fillTextbox(produ,$event)">{{produ}}</li>
		</ul>
		</div> -->

		<div class="md-form my-0">
			<input placeholder="Product name" type="text" name="country" id="product_name" ng-model="searched.product_name" 
				ng-keyup="complete(searched,$event)" class="form-control" />
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="produ in filteredProducts.product_name | limitTo:7" 
					ng-click="fillTextbox(produ,$event)">{{produ}}</li>
			</ul>
		</div>
<!-- 
		<div class="md-form my-0">
			<input placeholder="Available until" type="text" name="country" id="available_until" ng-model="searched.available_until" ng-keyup="complete(searched,$event)" class="form-control" />
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="produ in filteredProducts.available_until | limitTo:7" ng-click="fillTextbox(produ,$event)">{{produ}}</li>
			</ul>

		</div> -->
	</form>

	<!-- todo: directive -->
	<div class="container">
		<p> Total Results: {{restaurants.length}} <p>
		<div class="row">
			<div ng-repeat="r in filteredRestaurants" class="col-md-4 feature">
					<a href="#/shop/{{r.id}}"><img src="frontend/assets/img/restaurant1.jpg" alt="#"></a>
					<h4>{{r.name}}</h4>
			</div>
		</div>
		<div id="pager">
			<!-- requires ui.bootstrap imported in app.js -->
			<uib-pagination
				class="pagination" 
				total-items="restaurants.length" 
				ng-model="currentPage"
				ng-change="pageChanged()" 
				previous-text="&lsaquo;" 
				next-text="&rsaquo;" 
				items-per-page="numPerPage"
			/>
		</div>
	</div>
	<div ></div>
</section>
<!-- Feature section end -->


<script src="frontend/assets/js/owl.carousel.min.js"></script>
<script src="frontend/assets/js/bootstrap.min.js"></script>
<script src="frontend/assets/js/jquery.magnific-popup.min.js"></script>
<script src="frontend/assets/js/jquery.bootpag.min.js"></script>
<script src="frontend/assets/js/circle-progress.min.js"></script>
<script src="frontend/assets/js/main.js"></script>