<!-- Hero section -->
<section class="hero-section" ng-click="open()">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" back-img="frontend/assets/img/bgrestaurant.jpg">
			<div class="container">
				<h2>The Best Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,</p>
				<p>at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
		<div class="hs-item set-bg" back-img="frontend/assets/img/bgrestaurant2.jpg">
			<div class="container">
				<h2>The Best Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,</p>
				<p>at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->


<!-- Feature section -->
<section class="feature-section spad">
	<a href="#/shop" ng-click="(set(searchform))"><input class="site-btn sb-c1 searchbutton" type="button" id="searchbutton_home" value="Search"></a>
	<form class="row search-bar-restaurants" id="searchform" name="searchform">
		<select class="custom-select" id="searchtype" ng-model="searchform.searchtype">
			<option>Type</option>
			<option>Gourmet</option>
			<option>Fast Food</option>
			<option>Ethnic</option>
		</select>

		<div class="inputwrap">
			<input type="text" placeholder="Tastes" id="searchtastes" ng-model="searchform.searchtastes"
				ng-keyup="autocomplete(searchform, $event)">
			<div class="dropdown">
				<div class="dropdown-content">
					<a ng-repeat="r in autocompleteRestaurants.searchtastes | limitTo:7 track by $index" ng-click="fillTextbox(r,$event)">{{r}}</a>
				</div>
			</div>
		</div>
		<div class="inputwrap">
			<input type="text" placeholder="Restaurant name" id="searchname" ng-model="searchform.searchname"
				ng-keyup="autocomplete(searchform, $event)">
			<div class="dropdown">
				<div class="dropdown-content">
					<a ng-repeat="r in autocompleteRestaurants.searchname | limitTo:7 track by $index" ng-click="fillTextbox(r,$event)">{{r}}</a>
				</div>
			</div>
		</div>
	</form>

	<!-- todo: directive -->
	<div class="container">
		<p> Total Results: {{restaurants.length}} <p>
		<div class="row">
			<div ng-repeat="r in filteredRestaurants" class="col-md-4 feature">
					<a href="#/shop/{{r.id}}"><img src="frontend/assets/img/restaurant1.jpg" alt="#"></a>
					<h4>{{r.name}}</h4>
					<button ng-controller="favCtrl" ng-click="like(r)" class="site-btn">♥</button>
			</div>
		</div>
		<div id="pager">
			<uib-pagination
				class="pagination" 
				total-items="restaurants.length" 
				ng-model="currentPage"
				ng-change="pageChanged()" 
				previous-text="&lsaquo;" 
				next-text="&rsaquo;" 
				items-per-page="numPerPage"
			/>
		</div>
	</div>
	<div ></div>
</section>
<!-- Feature section end -->


<script src="frontend/assets/js/template/owl.carousel.min.js"></script>
<script src="frontend/assets/js/template/bootstrap.min.js"></script>
<script src="frontend/assets/js/template/jquery.magnific-popup.min.js"></script>
<script src="frontend/assets/js/template/jquery.bootpag.min.js"></script>
<script src="frontend/assets/js/template/circle-progress.min.js"></script>
<script src="frontend/assets/js/template/main.js"></script>