<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css"> -->

<!-- Page Top section -->
<section class="page-top-section set-bg" back-img="frontend/assets/img/bgrestaurant.jpg">
    <div class="container">
        <h2>Profile</h2>
    </div>
</section>
<!-- Page Top section end -->

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-4">
            <h1>{{user.username}}</h1>
        </div>
        <div>
            <input class="site-btn sb-c3 updatebtn" type="button" value="Update" ng-click="update()"
                ng-show="(
                    profileF.username || 
                    profileF.email || 
                    filename || 
                    profileF.password || 
                    ((country.value.name != user.country) && country.value.name != null) || 
                    ((state.value.name != user.state) && state.value.name != null) 
                ) && profileF.password == profileF.password2"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <div class="text-center">
                <img id="imgprofile" src="{{user.avatar}}" class="avatar img-circle img-thumbnail"
                alt="avatar">
                <div class="dropzone" dropzone="dropzoneConfig"></div>
            </div>
            <br>
            
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Purchases</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Favourites</strong></span> 13</li>
            </ul>
            <br>
            
        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li><a href ng-click="setTab(1)">Profile</a></li>
                <li><a href ng-click="setTab(2)">My favourites</a></li>
                <li><a href ng-click="setTab(3)">My purchases</a></li>
            </ul>

            <div ng-show="isSet(1)">
                <form class="form">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <br>
                            <h4>Username</h4>
                            <input ng-model="profileF.username" type="text" class="form-control" name="username" placeholder="{{user.username}}" title="enter your username">
                            <br>
                            <h4>E-mail</h4>
                            <input ng-model="profileF.email" type="email" class="form-control" name="email" placeholder="{{user.email}}" title="enter your email">
                            <br>
                            <h4>Password</h4>
                            <input ng-model="profileF.password" type="password" class="form-control" name="password" placeholder="password" title="enter your password">
                            <br>
                            <h4 ng-show="profileF.password">Confirm password</h4>
                            <input ng-show="profileF.password" ng-model="profileF.password2" type="password" class="form-control" name="password2" placeholder="repeat password" title="repeat your password">
                            
                            <div class="dropdown-div">
                                <dropdown class="col-sm-4" model="country" dependent-field="state"></dropdown>
                                <dropdown class="col-sm-4" model="state"></dropdown>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="isSet(2)" ng-controller="favCtrl">
                <div ng-include='"frontend/components/profile/favourites/view/favourites.view.html"'></div>
            </div>
            <div ng-show="isSet(3)">
                <form class="form">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4>Username3</h4>
                            <input type="text" class="form-control" name="username"
                                placeholder="username" title="enter your username">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/col-9-->
</div>
<!--/row-->
