<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css"> -->

<!-- Page Top section -->
<section class="page-top-section set-bg" back-img="frontend/assets/img/bgrestaurant.jpg">
    <div class="container">
        <h2>Profile</h2>
    </div>
</section>
<!-- Page Top section end -->

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{user.username}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <div class="text-center">
                <img id="imgprofile" src="{{user.avatar}}" class="avatar img-circle img-thumbnail"
                    alt="avatar">
               <div id="dropzone">
                    <form class="dropzone needsclick dz-clickable file-upload" id="demo-upload">
                        <div class="dz-message needsclick" id="profile_img_dropzone">
                            Drop files here or click to upload.<br>
                        </div>
                    </form> 
                    <!-- <div id="dropzone" class="dropzone"></div> -->
                </div>
                <div>
                    <p id="errormsg"></p>
                </div>
            </div>
            <br>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Purchases</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Favourites</strong></span> 13</li>
            </ul>

        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Profile</a></li>
                <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">My favourites</a></li>
                <li ng-class="{active:isSet(3)}"><a href ng-click="setTab(3)">My purchases</a></li>
            </ul>

            <div ng-show="isSet(1)">
                <form class="form">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4>Username</h4>
                            <input type="text" class="form-control" name="username"
                                placeholder="username" title="enter your username">
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="isSet(2)">
                <form class="form">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4>Username2</h4>
                            <input type="text" class="form-control" name="username"
                                placeholder="username" title="enter your username">
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="isSet(3)">
                <form class="form">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4>Username3</h4>
                            <input type="text" class="form-control" name="username"
                                placeholder="username" title="enter your username">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/col-9-->
</div>
<!--/row-->
