<!-- <div id="password-block" class="login-page">
    <div class="l-r-form" id="lostpwform">    
        <form class="login-form" role="form" id="lostpw-form">
            <input type="email" name="emaillostpw" placeholder="email" id="emaillostpw" autocomplete="off"/>
            <a type="button" class="login-button-l" id="lostpwbutton">Send</a>
            <p class="message">Input the e-mail that corresponds to the account and we will send you a reset link</p>
        </form>
    </div>
</div> -->
