<header class="header-section">
    <div class="container" ng-controller="menuCtrl">
        <a href="#" class="site-logo">
            <img src="frontend/assets/img/logo.png" alt="logo">
        </a>
        <!-- Switch button -->
        <div class="nav-switch">
            <div class="ns-bar"></div>
        </div>
        <div class="header-right">
            <a class="shopping-cart" href="#/cart">
                <img src="frontend/assets/img/cart.png" />
            </a>
            <div class="cart-number">{{totalitems}}</div>
            <ul class="main-menu">
                <li><a href="#/home" data-tr="Home">Home</a></li>
                <li ng-show="loggedin && admin"><a href="#/restaurants">Restaurants</a></li>
                <li ng-show="loggedin"><a href="#/favourites">Favourites</a></li>
                <li><a href="#/aboutus">About Us</a></li>
                <li><a href="#/services">Services</a></li>
                <li><a href="#/contact">Contact us</a></li>
                <li><a href="#/shop">Shop</a></li>
            </ul>
            <div class="header-btns" id="header-btns" ng-show="!loggedin">
                <a type="button" id="loginbutton" class="site-btn sb-c2" ng-click="open()">Login</a>
            </div>
            
            <div class="logged-in" id="logged-in" ng-show="loggedin">
                <h3 id="logged-in-name"><a href="#/profile">{{user.username}}</a></h3>
                <img id="logged-in-avatar" src="{{user.avatar}}" ng-click="logout()"/>
            </div>
        </div>
    </div>
</header>